[submodule "legacy/vqa_keras"]
	path = legacy/vqa_keras
	url = https://github.com/vfp1/vqa_keras
[submodule "legacy/VQA"]
	path = legacy/VQA
	url = https://github.com/vfp1/VQA
[submodule "legacy/vqamd_floyd"]
	path = legacy/vqamd_floyd
	url = https://github.com/vfp1/vqamd_floyd
